/*GLOBAL*/

body {
    background-image: url("../img/restaurant.jpeg");
    background-size: cover;
    color: white;
}

/*MAIN CONTENT*/
.main {
    margin: 50px;
}

.main .title {
    color: wheat;
    text-align: center;
}

.main .presentation {
    background-image: url("../img/table.jpeg");
    background-size: cover;
    border-radius: 20px;
    opacity: .99;
}

/*RESTAURANT*/
.restaurant-item {
    font-size: large;
    margin: 10px;
    padding: 20px;
    background-color: rgba(38, 50, 56, .4);
    border-radius: 20px;
    border: #D4AF37 groove 2px;
}

/*MENU*/
.menu-item {
    font-size: large;
    margin: 10px;
    padding: 20px;
    background-color: rgba(38, 50, 56, .7);
    border-radius: 20px;
    border: #D4AF37 groove 2px;
}

/* DELETE RESTAURANT OR MENU DEFAULT LAYOUT*/
.delete-item {
    font-size: large;
    margin: 10px;
    padding: 20px;
    background-color: rgba(38, 50, 56, 1);
    border-radius: 20px;
    border: #D4AF37 groove 2px;
}

/*DEFAULT LAYOUT FOR CREATION AND EDIT*/
.create-item, .edit-item {
    font-size: large;
    margin: 10px;
    padding: 20px;
    background-color: rgba(38, 50, 56, 1);
    border-radius: 20px;
    border: #D4AF37 groove 2px;
}

/*ETC*/

.btn-space {
    padding: 25px;
    /*margin-right: 5px;*/
}