<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header.html' %}
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<header>

</header>

<div class="main">
    <div class="container">
        <div class="jumbotron presentation">

            <div class="">
                <h1 class="title"> Restaurants</h1>
            </div>

            <!--CREATE BTN-->
            <div class="pull-right"><a class="btn btn-success " href="{{ url_for('new_restaurant') }}">Create a New
                Restaurant</a>
            </div>

            <!--FLOAT CLEAR-->
            <div class="clearfix"></div>

            {% if restaurants == false %}
                <h5>They are no restaurants. Try create new ones</h5>
            {% endif %}

            <!--FLASH MESSAGE-->

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class='alert alert-info alert-dismissable'>
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!--RESTAURANT LIST-->
            {% for i in restaurants %}
                <div class="restaurant-item">
                    <div class="row">
                        <div class="col-md-7">
                            <p>{{ i.name }}</p>
                        </div>
                        <div class="row col-md-4">
                            <div class="col-md-4 ">
                                <a class="btn btn-info btn-block"
                                   href="{{ url_for('restaurant_menu', restaurant_id=i.id) }}"
                                   role="button">Menu</a>
                            </div>
                            <div class="col-md-4 ">
                                <a class="btn btn-warning btn-block"
                                   href="{{ url_for('edit_restaurant', restaurant_id=i.id) }}"
                                   role="button">Edit</a>
                            </div>
                            <div class="col-md-4 ">
                                <a class="btn btn-danger btn-block"
                                   href="{{ url_for('delete_restaurant', restaurant_id=i.id) }}"
                                   role="button">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--END RESTAURANT LIST-->

        </div>
    </div>
</div>

{% include 'includes/scripts.html' %}
</body>
</html>