<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/header.html' %}
    <meta charset="UTF-8">
    <title>Restaurant | new</title>
</head>
<body>

<div class="main">
    <div class="container">
        <div class="create-item">
            <h1>New Restaurant</h1>
            <form action="{{ url_for('new_restaurant') }}" method="post">
                <div class="form-group">
                    <label for="" class="title">Name: </label>
                    <input type="text" class="form-control" name="name" placeholder="Enter a name" required>
                </div>

                <input class="btn btn-success" type="submit" value="Create">
                <a class="btn btn-primary" href="{{ url_for('index') }}">cancel</a>
            </form>
        </div>
    </div>
</div>

{% include 'includes/scripts.html' %}
</body>
</html>